@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
   --main-color:#8e44ad;
   --red:#e74c3c;
   --orange:#f39c12;
   --light-color:#888;
   --light-bg:#eee;
   --black:#2c3e50;
   --white:#fff;
   --border:.1rem solid rgba(0,0,0,.2);
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color:#fff;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
   height: .5rem;
}

html::-webkit-scrollbar-track{
   background-color: transparent;
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

body{
   background-color: var(--light-bg);
}

body.dark{
   --light-color:#aaa;
   --light-bg:#333;
   --black:#fff;
   --white:#222;
   --border:.1rem solid rgba(255,255,255,.2);
}

body.active{
   padding-left: 0;
}

section{
   padding:2rem;
   margin: 0 auto;
}

.heading{
   font-size: 2.5rem;
   color:var(--black);
   margin-bottom: 2.5rem;
   border-bottom: var(--border);
   padding-bottom: 1.5rem;
   text-transform: capitalize;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn,
.btn,
.delete-btn,
.option-btn{
   border-radius: .5rem;
   color:#fff;
   font-size: 1.8rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:1rem 3rem;
   text-align: center;
   margin-top: 1rem;
}

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
   display: inline-block;
}

.btn,
.inline-btn{
   background-color: var(--main-color);
}

.option-btn,
.inline-option-btn{
   background-color:var(--orange);
}
.option-btn,
   .btnSave{
   background-color:green;
}
.delete-btn,
.inline-delete-btn{
   background-color: var(--red);
}

.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover,
.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
   color: var(--white);
}

.flex-btn{
   display: flex;
   gap: 1rem;
}

.header{
   background-color: var(--white);
   border-bottom: var(--border);
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1200;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 1.5rem 2rem;
}

.header .flex .logo{
   font-size: 2.5rem;
   color: var(--black);
}

.header .flex .search-form{
   width: 50rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.5rem 2rem;
   display: flex;
   gap:2rem;

}

.header .flex .search-form input{
   width: 100%;
   font-size: 1.8rem;
   color:var(--black);
   background:none;
}

.header .flex .search-form button{
   background:none;
   font-size: 2rem;
   cursor: pointer;
   color:var(--black);
}

.header .flex .search-form button:hover{
   color: var(--main-color);
}

.header .flex .icons div{
   font-size: 2rem;
   color:var(--black);
   background-color: var(--light-bg);
   border-radius: .5rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   cursor: pointer;
   text-align: center;
   margin-left: .7rem;
}

.header .flex .icons div:hover{
   background-color: var(--black);
   color:var(--white);
}

.header .flex .profile{
   position: absolute;
   top:120%; right: 2rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 1.5rem;
   text-align: center;
   overflow: hidden;
   transform-origin: top right;
   transform: scale(0);
   transition: .2s linear;
   width: 30rem;
}

.header .flex .profile.active{
   transform: scale(1);
}

.header .flex .profile .image{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.header .flex .profile .name{
   font-size: 2rem;
   color:var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.header .flex .profile .role{
   font-size: 1.8rem;
   color: var(--light-color);
}

#search-btn{
   display: none;
}

.side-bar{
   position: sticky;
   top: 0;
   left: 0;
   height: 100vh;
   width: 19rem;
   background-color: var(--white);
   border-right: var(--border);
   z-index: 1000;
   flex-direction: column;
   display: flex;
}

.side-bar #close-btn{
   text-align: right;
   padding: 2rem;
   display: none;
}

.side-bar #close-btn i{
   text-align: right;
   font-size: 2.5rem;
   background:var(--red);
   border-radius: .5rem;
   color:var(--white);
   cursor: pointer;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   text-align: center;
}

.side-bar #close-btn i:hover{
   background-color: var(--black);
}

.side-bar .profile{
   padding:3rem 2rem;
   text-align: center;
}

.side-bar .profile .image{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.side-bar .profile .name{
   font-size: 2rem;
   color:var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.side-bar .profile .role{
   font-size: 1.8rem;
   color: var(--light-color);
}

.side-bar .navbar a{
   display: block;
   padding: 2rem;
   font-size: 2rem;
}

.side-bar .navbar a i{
   margin-right: 1.5rem;
   color:var(--main-color);
   transition: .2s linear;
}

.side-bar .navbar a span{
   color:var(--light-color);
}

.side-bar .navbar a:hover{
   background-color: var(--light-bg);
}

.side-bar .navbar a:hover i{
   margin-right: 2.5rem;
}

.side-bar.active{
   left: -30rem;
}

.home-grid .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 27.5rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.home-grid .box-container .box{
   background-color: var(--white);
   border-radius: .5rem;
   padding:2rem;
}

.home-grid .box-container .box .title{
   font-size: 2rem;
   color: var(--black);
   text-transform: capitalize;
}

.home-grid .box-container .box .flex{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   margin-top: 2rem;
}

.home-grid .box-container .flex a{
   background-color: var(--light-bg);
   border-radius: .5rem;
   padding: 1rem 1.5rem;
   font-size: 1.5rem;
}

.home-grid .box-container .flex a i{
   margin-right: 1rem;
   color:var(--black);
}

.home-grid .box-container .flex a span{
   color:var(--light-color);
}

.home-grid .box-container .flex a:hover{
   background-color: var(--black);
}

.home-grid .box-container .flex a:hover span{
   color:var(--white);
}

.home-grid .box-container .flex a:hover i{
   color:var(--white);
}

.home-grid .box-container .tutor{
   padding: 1rem 0;
   font-size: 1.8rem;
   color:var(--light-color);
   line-height: 2;
}

.home-grid .box-container .likes{
   color:var(--light-color);
   font-size: 1.7rem;
   margin-top: 1.5rem;
}

.home-grid .box-container .likes span{
   color:var(--main-color);
}

.about .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.about .row .image{
   flex: 1 1 40rem;
}

.about .row .image img{
   width: 100%;
   height: 50rem;
}

.about .row .content{
   flex: 1 1 40rem;
}

.about .row .content p{
   font-size: 1.7rem;
   line-height: 2;
   color: var(--light-color);
   padding: 1rem 0;
}

.about .row .content h3{
   font-size: 3rem;
   color:var(--black);
   text-transform: capitalize;
}

.about .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
   margin-top: 3rem;
}

.about .box-container .box{
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
   display: flex;
   align-items: center;
   gap: 2.5rem;
}

.about .box-container .box i{
   font-size: 4rem;
   color: var(--main-color);
}

.about .box-container .box h3{
   font-size: 2.5rem;
   color: var(--black);
   margin-bottom: .3rem;
}

.about .box-container .box p{
   font-size: 1.7rem;
   color:var(--light-color);
}

.reviews .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.reviews .box-container .box{
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
}

.reviews .box-container .box p{
   line-height: 1.7;
   font-size: 1.7rem;
   color: var(--light-color);
}

.reviews .box-container .box .student{
   margin-top: 2rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.reviews .box-container .box .student img{
   height: 5rem;
   width: 5rem;
   object-fit: cover;
   border-radius: 50%;
}

.reviews .box-container .box .student h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .3rem;
}

.reviews .box-container .box .student .stars{
   font-size: 1.5rem;
   color:var(--orange);
}

.courses .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
   align-items: flex-start;
   gap: 1.5rem;
}

.courses .box-container .box{
   position: relative;
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
}

.courses .box-container .box .tutor{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   margin-bottom: 2.5rem;
}

.courses .box-container .box .tutor img{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   object-fit: cover;
}

.courses .box-container .box .tutor h3{
   font-size: 1.8rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.courses .box-container .box .tutor span{
   font-size: 1.3rem;
   color:var(--light-color);
}

.courses .box-container .box .thumb{
   position: relative;
}

.courses .box-container .box .thumb span{
   position: absolute;
   top:1rem; left: 1rem;
   border-radius: .5rem;
   padding: .5rem 1.5rem;
   background-color: rgba(0,0,0,.3);
   color: #fff;
   font-size: 1.5rem;
}

.courses .box-container .box .thumb img{
   width: 100%;
   height: 20rem;
   object-fit: cover;
   border-radius: .5rem;
}

.courses .box-container .box .title{
   font-size: 2rem;
   color: var(--black);
   padding-bottom: .5rem;
   padding-top: 1rem;
}
.courses .more-btn{
   text-align: center;
   margin-top: 2rem;
}

.playlist-details .row{
   display: flex;
   align-items: center;
   gap: 2.5rem;
   flex-wrap: wrap;
   background-color: var(--white);
}

.playlist-details .row .column{
   flex: 1 1 40rem;
}

.playlist-details .row .column .save-playlist{
   margin-bottom: 1.5rem;
}

.playlist-details .row .column .save-playlist button{
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1rem 1.5rem;
   cursor: pointer;
}

.playlist-details .row .column .save-playlist button i{
   font-size: 2rem;
   color:var(--black);
   margin-right: .8rem;
}

.playlist-details .row .column .save-playlist button span{
   font-size: 1.8rem;
   color:var(--light-color);
}

.playlist-details .row .column .save-playlist button:hover{
   background-color: var(--black);
}

.playlist-details .row .column .save-playlist button:hover i{
   color:var(--white);
}

.playlist-details .row .column .save-playlist button:hover span{
   color:var(--white);
}

.playlist-details .row .column .thumb{
   position: relative;
}

.playlist-details .row .column .thumb span{
   font-size: 1.8rem;
   color: #fff;
   background-color: rgba(0,0,0,.3);
   border-radius: .5rem;
   position: absolute;
   top: 1rem; left: 1rem;
   padding: .5rem 1.5rem;
}

.playlist-details .row .column .thumb img{
   height: 30rem;
   width: 100%;
   object-fit: cover;
   border-radius: .5rem;
}

.playlist-details .row .column .tutor{
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-bottom: 2rem;
}

.playlist-details .row .column .tutor img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   object-fit: cover;
}

.playlist-details .row .column .tutor h3{
   font-size: 2rem;
   color:var(--black);
   margin-bottom: .2rem;
}

.playlist-details .row .column .tutor span{
   font-size: 1.5rem;
   color: var(--light-color);
}

.playlist-details .row .column .details h3{
   font-size: 2rem;
   color: var(--black);
   text-transform: capitalize;
}

.playlist-details .row .column .details p{
   padding: 1rem 0;
   line-height: 2;
   font-size: 1.8rem;
   color: var(--light-color);
}

.playlist-videos .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   align-items: flex-start;
   gap: 1.5rem;
}

.playlist-videos .box-container .box{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   position: relative;
}

.playlist-videos .box-container .box .fa-play{
   position: absolute;
   top: 2rem; left: 2rem; right: 2rem;
   height: 20rem;
   border-radius: .5rem;
   background-color: rgba(0,0,0,.3);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 5rem;
   color: #fff;
   display: none;
}

.playlist-videos .box-container .box:hover .fa-play{
   display: flex;
}

.playlist-videos .box-container .box img{
   width: 100%;
   height: 20rem;
   object-fit: cover;
   border-radius: .5rem;
}

.playlist-videos .box-container .box h3{
   margin-top: 1.5rem;
   font-size: 1.8rem;
   color: var(--black);
}

.playlist-videos .box-container .box:hover h3{
   color: var(--main-color);
}

.watch-video .video-container{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}

.watch-video .video-container .video{
   position: relative;
   margin-bottom: 1.5rem;
}

.watch-video .video-container .video video{
   border-radius: .5rem;
   width: 100%;
   object-fit: contain;
   background-color: #000;
}

.watch-video .video-container .title{
   font-size: 2rem;
   color: var(--black);
}

.watch-video .video-container .info{
   display: flex;
   margin-top: 1.5rem;
   margin-bottom: 2rem;
   border-bottom: var(--border);
   padding-bottom: 1.5rem;
   gap: 2.5rem;
   align-items: center;
}

.watch-video .video-container .info p{
   font-size: 1.6rem;
}

.watch-video .video-container .info p span{
   color: var(--light-color);
}

.watch-video .video-container .info i{
   margin-right: 1rem;
   color: var(--main-color);
}

.watch-video .video-container .tutor{
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-bottom: 1rem;
}

.watch-video .video-container .tutor img{
   border-radius: 50%;
   height: 5rem;
   width: 5rem;
   object-fit: cover;
}

.watch-video .video-container .tutor h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.watch-video .video-container .tutor span{
   font-size: 1.5rem;
   color: var(--light-color);
}

.watch-video .video-container .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}

.watch-video .video-container .flex button{
   border-radius: .5rem;
   padding: 1rem 1.5rem;
   font-size: 1.8rem;
   cursor: pointer;
   background-color: var(--light-bg);
}

.watch-video .video-container .flex button i{
   margin-right: 1rem;
   color: var(--black);
}

.watch-video .video-container .flex button span{
   color: var(--light-color);
}

.watch-video .video-container .flex button:hover{
   background-color: var(--black);
}

.watch-video .video-container .flex button:hover i{
   color: var(--white);
}

.watch-video .video-container .flex button:hover span{
   color: var(--white);
}

.watch-video .video-container .title{
   line-height: 1.5;
   font-size: 1.7rem;
   color: var(--light-color);
   margin-top: 2rem;
}
.watch-video .video-container .description{
   line-height: 1.5;
   font-size: 1.7rem;
   color: #000;
   margin-top: 2rem;
}
.watch-video .video-container .name_post{
   font-weight: 1000;
   padding-bottom: 0.8rem;
   font-size: 3rem;
   color: var(--black);
   text-transform: capitalize;
   margin-bottom: 2rem;
}
.comments .add-comment{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   margin-bottom: 3rem;
}

.comments .add-comment h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: 1rem;
}

.comments .add-comment textarea{
   height: 20rem;
   resize: none;
   background-color: var(--light-bg);
   border-radius: .5rem;
   border: var(--border);
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
   width: 100%;
   margin: .5rem 0;
}

.comments .box-container{
   display: grid;
   gap: 2.5rem;
   background-color: var(--white);
   padding: 2rem;
   border-radius: .5rem;
}

.comments .box-container .box .user{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   margin-bottom: 2rem;
}

.comments .box-container .box .user img{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
}

.comments .box-container .box .user h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.comments .box-container .box .user span{
   font-size: 1.5rem;
   color: var(--light-color);
}

.comments .box-container .box .comment-box{
   width: 100%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1rem 1.5rem;
   white-space: pre-line;
   margin: .5rem 0;
   font-size: 1.8rem;
   color: var(--black);
   line-height: 1.5;
   position: relative;
   z-index: 0;
}

.comments .box-container .box .comment-box::before{
   content: '';
   position: absolute;
   top: -1rem; left: 1.5rem;
   background-color: var(--light-bg);
   height: 1.2rem;
   width: 2rem;
   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.teachers .search-tutor{
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--white);
   padding: 1.5rem 2rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.teachers .search-tutor input{
   width: 100%;
   background: none;
   font-size: 1.8rem;
   color: var(--black);
}

.teachers .search-tutor button{
   font-size: 2rem;
   color: var(--black);
   cursor: pointer;
   background:none;
}

.teachers .search-tutor button:hover{
   color: var(--main-color);
}

.teachers .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.teachers .box-container .box{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}

.teachers .box-container .offer{
   text-align: center;
}

.teachers .box-container .offer h3{
   font-size: 2.5rem;
   color: var(--black);
   text-transform: capitalize;
   padding-bottom: .5rem;
}

.teachers .box-container .offer p{
   line-height: 1.7;
   padding: .5rem 0;
   color: var(--light-color);
   font-size: 1.7rem;
}

.teachers .box-container .box .tutor{
   display: flex;
   align-items: center;
   gap:2rem;
   margin-bottom: 1.5rem;
}

.teachers .box-container .box .tutor img{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
}

.teachers .box-container .box .tutor h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.teachers .box-container .box .tutor span{
   font-size: 1.6rem;
   color: var(--light-color);
}

.teachers .box-container .box p{
   padding: .5rem 0;
   font-size: 1.7rem;
   color: var(--light-color);
}

.teachers .box-container .box p span{
   color: var(--main-color);
}
.teacher-profile .details{
   text-align: center;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}
.teacher-profile .details .tutor img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 1rem;
}

.teacher-profile .details .tutor h3{
   font-size: 2rem;
   color: var(--black);
}

.teacher-profile .details .tutor span{
   color: var(--light-color);
   font-size: 1.7rem;
}

.teacher-profile .details .flex{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   margin-top: 2rem;
}

.teacher-profile .details .flex p{
   flex: 1 1 20rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding: 1.2rem 2rem;
   font-size: 1.8rem;
   color: var(--light-color);
}

.teacher-profile .details .flex p span{
   color: var(--main-color);
}

.user-profile .info{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}

.user-profile .info .user{
   text-align: center;
   margin-bottom: 2rem;
   padding: 1rem;
}

.user-profile .info .user img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 1rem;
}

.user-profile .info .user h3{
   font-size: 2rem;
   color: var(--black);
}

.user-profile .info .user p{
   font-size: 1.7rem;
   color: var(--light-color);
   padding: .3rem 0;
}

.user-profile .info .box-container{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.user-profile .info .box-container .box{
   background-color: var(--light-bg);
   border-radius: .5rem;
   padding: 2rem;
   flex: 1 1 25rem;
}

.user-profile .info .box-container .box .flex{
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-bottom: 1rem;
}

.user-profile .info .box-container .box .flex i{
   font-size:2rem;
   color: var(--white);
   background-color: var(--black);
   text-align: center;
   border-radius: .5rem;
   height: 5rem;
   width: 5rem;
   line-height: 4.9rem;
}

.user-profile .info .box-container .box .flex span{
   font-size: 2.5rem;
   color: var(--main-color);
}

.user-profile .info .box-container .box .flex p{
   color: var(--light-color);
   font-size: 1.7rem;
}

.contact .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.contact .row .image{
   flex: 1 1 50rem;
}

.contact .row .image img{
   width: 100%;
}

.contact .row form{
   flex: 1 1 30rem;
   background-color: var(--white);
   padding: 2rem;
   text-align: center;
}

.contact .row form h3{
   margin-bottom: 1rem;
   text-transform: capitalize;
   color:var(--black);
   font-size: 2.5rem;
}

.contact .row form .box{
   width: 100%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   margin: 1rem 0;
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
}

.contact .row form textarea{
   height: 20rem;
   resize: none;
}

.contact .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
   margin-top: 3rem;
}

.contact .box-container .box{
   text-align: center;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 3rem;
}

.contact .box-container .box i{
   font-size: 3rem;
   color: var(--main-color);
   margin-bottom: 1rem;
}

.contact .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   margin: 1rem 0;
}

.contact .box-container .box a{
   display: block;
   padding-top: .5rem;
   font-size: 1.8rem;
   color: var(--light-color);
}

.contact .box-container .box a:hover{
   text-decoration: underline;
   color:var(--black);
}

.form-container{
   min-height: calc(100vh - 20rem);
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container form{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   width: 50rem;
}

.form-container form h3{
   font-size: 2.5rem;
   text-transform: capitalize;
   color: var(--black);
   text-align: center;
}

.form-container form p{
   font-size: 1.4rem;
   color: var(--light-color);
   padding-top: 1rem;
}

.form-container form p span{
   color: var(--red);
}

.form-container form .box{
   font-size: 1.8rem;
   color: var(--black);
   border-radius: .5rem;
   padding: 1.4rem;
   background-color: var(--light-bg);
   width: 100%;
   margin: 1rem 0;
}






.footer{
   background-color: var(--white);
   border-top: var(--border);
   position: sticky;
   bottom: 0; left: 0; right: 0;
   text-align: center;
   font-size: 2rem;
   padding:2.5rem 2rem;
   color:var(--black);
   margin-top: 1rem;
   z-index: 1000;
   /* padding-bottom: 9.5rem; */
}

.footer span{
   color:var(--main-color);
}



@media (max-width:1200px){

   body{
      padding-left: 0;
   }

   .side-bar{
      left: -30rem;
      transition: .2s linear;
   }

   .side-bar #close-btn{
      display: block;
   }

   .side-bar.active{
      left: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
      border-right: 0;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #search-btn{
      display: inline-block;
   }

   .header .flex .search-form{
      position: absolute;
      top: 99%; left: 0; right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      border-radius: 0;
      width: auto;
      padding: 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .search-form.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .flex-btn{
      gap: 0;
      flex-flow: column;
   }

   .home-grid .box-container{
      grid-template-columns: 1fr;
   }

   .about .row .image img{
      height: 25rem;
   }

}
.quick-select .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
   gap: 1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.quick-select .box-container .box{
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
}

.quick-select .box-container .box .title{
   font-size: 2rem;
   color: var(--black);
}

.quick-select .box-container .box p{
   line-height: 1.5;
   padding-top: 1.5rem;
   color: var(--light-color);
   font-size: 1.8rem;
}

.quick-select .box-container .box p span{
   color: var(--main-color);
}

.quick-select .box-container .tutor{
   text-align: center;
}

.quick-select .box-container .tutor p{
   padding-bottom: 1rem;
}

.quick-select .box-container .box .flex{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   padding-top: 2rem;
}

.quick-select .box-container .box .flex a{
   padding: 1rem 1.5rem;
   border-radius: .5rem;
   font-size: 1.6rem;
   background-color: var(--light-bg);
}

.quick-select .box-container .box .flex a i{
   margin-right: 1rem;
   color: var(--black);
}

.quick-select .box-container .box .flex a span{
   color: var(--light-color);
}

.quick-select .box-container .box .flex a:hover{
   background-color: var(--black);
}

.quick-select .box-container .box .flex a:hover i{
   color: var(--white);
}

.quick-select .box-container .box .flex a:hover span{
   color: var(--white)  ;
}

.icon_courses {
   position: absolute;
   top: -0.9rem;
   right: 0.1rem;
}
.icon_courses a {
   padding: .5rem 1.5rem;
   font-size: 1.5rem;
}
.form-container .addcourses {
   width: 80rem;
}
.form-container .editcourses {
   width: 80rem;
}
.form-container .addplaylist {
   width: 80rem;
}
.flex-option a{
   margin: 5px;
}
.flex-option button{
   margin: 5px;
}
.posts .search-tutor{
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--white);
   padding: 1.5rem 2rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.posts .search-tutor input{
   width: 100%;
   background: none;
   font-size: 1.8rem;
   color: var(--black);
}

.posts .search-tutor button{
   font-size: 2rem;
   color: var(--black);
   cursor: pointer;
   background:none;
}

.posts .search-tutor button:hover{
   color: var(--main-color);
}

.posts .box-container .box{
   margin-top: 10px;
   position: relative;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}

.posts .box-container .offer{
   text-align: center;
}

.posts .box-container .offer h3{
   font-size: 2.5rem;
   color: var(--black);
   text-transform: capitalize;
   padding-bottom: .5rem;
}

.posts .box-container .offer p{
   line-height: 1.7;
   padding: .5rem 0;
   color: var(--light-color);
   font-size: 1.7rem;
}

.posts .box-container .box .tutor{
   display: flex;
   align-items: center;
   gap:2rem;
   margin-bottom: 1.5rem;
}

.posts .box-container .box .tutor img{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
}

.posts .box-container .box .tutor h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.posts .box-container .box .tutor span{
   font-size: 1.6rem;
   color: var(--light-color);
}

.posts .box-container .box p{
   padding: .5rem 0;
   font-size: 1.7rem;
   color: var(--light-color);
}

.posts .box-container .box p span{
   color: var(--main-color);
}
.posts .box-container .box .thumb{
   position: relative;
}
.posts .box-container .box .thumb img {
   width: 350px;
   height: 20rem;
   object-fit: cover;
   border-radius: .5rem;
}
.posts .box-container .box .title {
   font-size: 2rem;
   color: var(--black);
   padding-bottom: .5rem;
   padding-top: 1rem;
}
.posts .box-container .box .post {
   position: relative;
   display: flex;
   justify-content: space-between;
}
.posts .box-container .box .post .about_post .content {
   font-size: 1.4rem;
}
.posts .box-container .box .post .about_post .content::after {
   content: "...";
}
.posts .box-container .box .post .about_post {
   width: 600px;
}
.posts .box-container .box .post .postItem_info{
   color: black;
   background-color: rgba(0,0,0,.3);
   border-radius: .5rem;   
   padding: .5rem 1.5rem;
}
.posts .box-container .box .postItem_info{
   margin-top: 10px;
   font-size: 1.5rem;
}
.posts .box-container .box .postItem_info .postItem_tags{
   color: black;
   background-color: rgba(117, 112, 112, 0.3);
   border-radius: .5rem;
   padding: .5rem 1.5rem;
}
.posts .box-container .box .postItem_info .postItem_tags:hover{
   background-color: rgba(194, 181, 181, 0.3);
}
.posts .box-container .box .footer_post{
   top: 15px;  
   display: flex;
   position: relative;
   align-items: center;
   justify-content: space-between;
}
.posts .box-container .box .footer_post .icon_post{
   margin-top: 25px;
 }
 .posts .box-container .box .footer_post div{
   margin-left: 24px;
 } 
.posts .box-container .box .footer_post span{
   margin-left: 8px;
}

.form-container .addpost {
   width: 100%;
}
.comments .box-container .box .flex-btn .btnlike{
   border-radius: 0.5rem;
   padding: 1rem 1.5rem;
   font-size: 1.8rem;
   cursor: pointer;
   background-color: var(--light-bg);
}
.comments .box-container .box .flex-btn{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}
.option-btn, .btnlike {
   background-color: #babdad;
   padding: 1rem 1.5rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.fb {
   background-color: #3B5998;
   color: white;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   font-size: 35px;
}
.google {
   background-color: #dd4b39;
   color: white;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   font-size: 35px;
 }
 .form-container .signin-options{
   display: flex;
   justify-content: center;
   align-items: center;
 }
.form-container .signin-options button{
   width: 55px;
   height: 55px;
   border-radius: 50%;
   border: 1px solid;
   font-size: 28px;
   margin: 0 10px;
   transition: all 300ms;
}
.form-container .signin-options button i{
   transition: all 300ms;
}
.switch-type-login{
   width: 100%;
   margin-bottom: 20px;
   text-align: center;
}
.description p, h1, h2, h3, h4, h5, image {
   padding-bottom: 10px; 
}

.watch-video .video-container .flex-btn .btnlike {
   border-radius: 0.5rem;
   padding: 1rem 1.5rem;
   font-size: 1.8rem;
   cursor: pointer;
   background-color: var(--light-bg);
}
.comments .box-container .flex button{
   border-radius: 0.5rem;
   padding: 1rem 1.5rem;
   font-size: 1.8rem;
   cursor: pointer;
   background-color: var(--light-bg);
}
.comments .box-container .box .flex-btn{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}
.slider{
   border-radius: 17px;
   width: 100%;
   max-width: 100vw;
   height: 250px;
   margin: auto;
   position: relative;
   overflow: hidden;
}
.slider .list{
   position: absolute;
   width: max-content;
   height: 100%;
   left: 0;
   top: 0;
   display: flex;
   transition: 1s;
}
.slider .list img{
   width: 1322px;
   max-width: 100vw;
   height: 100%;
   object-fit: cover;
}
.slider .buttons{
   align-items: center;
    position: absolute;
    top: 45%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    z-index: 1400;

}
.slider .buttons button{
   width: 32px;
   height: 32px;
   border-radius: 50%;
   background-color: #fff;
   color: #4b4b4b;
   border: none;
   font-family: monospace;
   font-weight: bold;
   font-size: 20px;
   box-shadow: 0 3px 6px rgba(0,0,0,.16);
   text-align: center;
   cursor: pointer;
}
.slider .dots{
   position: absolute;
   bottom: 10px;
   left: 0;
   color: #fff;
   width: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
}
.slider .dots li{
   list-style: none;
   width: 10px;
   height: 10px;
   background-color: #fff;
   margin: 10px;
   border-radius: 20px;
   transition: 0.5s;
}
.slider .dots li.active{
   width: 30px;
}
@media screen and (max-width: 768px){
   .slider{
       height: 400px;
   }
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* start: Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}
body {
    font-family: 'Inter', sans-serif;
    color: var(--gray-900);
    background-color: var(--gray-50);
}
.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 16px;
}
/* end: Globals */



/* start: Payment */
.payment-section {
    padding: 48px 0;
}
.payment-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.payment-header {
    padding: 24px;
    background-color: var(--indigo-500);
    border-radius: 12px;
    padding-bottom: 72px;
}
.payment-header-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--indigo-600);
    color: var(--white);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.payment-header-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    line-height: 1.4;
    margin-bottom: 4px;
}
.payment-header-description {
    font-size: 15px;
    color: var(--gray-200);
    line-height: 1.5;
}
.payment-content {
    padding: 24px;
    margin-top: -64px;
    position: relative;
}
.payment-content::before {
    content: '';
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    height: 16px;
    border-radius: 4px;
    background-color: var(--indigo-600);
}
.payment-body {
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05), inset 0 8px 0 rgba(0, 0, 0, .05);
    position: relative;
    padding-top: 8px;
    overflow: hidden;
}
.payment-plan {
    display: flex;
    align-items: center;
    padding: 12px;
}
.payment-plan-type {
    width: 70px;
    height: 70px;
    background-color: var(--indigo-500);
    color: var(--white);
    font-size: 13px;
    font-weight: 600;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 8px;
}
.payment-plan-type .imagesCourses{
   width: 100%;
   height: 100%;
}
.payment-plan-info {
    width: 100%;
    margin-right: 8px;
    display: grid;
}
.payment-plan-info-name {
    font-size: 20px;
    color: var(--gray-400);
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.payment-plan-info-price {
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}
.payment-plan-change {
    color: var(--blue-500);
    font-size: 12px;
    font-weight: 600;
    text-underline-offset: 2px;
}
.payment-plan-change:hover {
    color: var(--blue-600);
}
.payment-summary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
}
.payment-summary-name {
    font-size: 15px;
    color: var(--gray-500);
}
.payment-summary-price {
    font-weight: 500;
    font-size: 15px;
}
.payment-summary-divider {
    width: calc(100% - 16px);
    height: 0;
    margin: 12px auto;
    border-bottom: 1px dashed var(--gray-200);
    position: relative;
}
.payment-summary-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--gray-50);
    box-shadow: inset 0 2px 16px rgba(0, 0, 0, .05);
}
.payment-summary-divider::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--gray-50);
    box-shadow: inset 0 2px 16px rgba(0, 0, 0, .05);
}
.payment-summary-total {
    padding-bottom: 16px;
}
.payment-summary-total .payment-summary-name {
    color: var(--gray-900);
}
.payment-summary-total .payment-summary-price {
    font-size: 16px;
    color: var(--indigo-500);
    font-weight: 600;
}
.payment-right {
    min-width: 0;
}
.payment-form {
    padding: 24px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05);
}
.payment-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.3;
}
.payment-method {
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 6px 0;
    margin-bottom: 12px;
    width: 100%;
}
.payment-method input {
    display: none;
}
.payment-method-item {
    width: 80px;
    height: 80px;
    padding: 8px;
    border: 1px solid var(--gray-200);
    border-radius: 8px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}
input:checked + .payment-method-item {
    border-color: var(--indigo-500);
}
input:checked + .payment-method-item::before {
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--indigo-500);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjAwMDcgMTUuMTcwOUwxOS4xOTMxIDUuOTc4NTJMMjAuNjA3MyA3LjM5MjczTDEwLjAwMDcgMTcuOTk5M0wzLjYzNjcyIDExLjYzNTRMNS4wNTA5MyAxMC4yMjEyTDEwLjAwMDcgMTUuMTcwOVoiIGZpbGw9InJnYmEoMjU1LDI1NSwyNTUsMSkiPjwvcGF0aD48L3N2Zz4=");
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
}
.payment-method-item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.payment-form-group {
    position: relative;
    margin-bottom: 16px;
}
.payment-form-control {
    outline: transparent;
    border: 1px solid var(--gray-200);
    border-radius: 8px;
    padding: 24px 16px 8px 16px;
    width: 100%;
    transition: all .15s ease-in-out;
}
.payment-form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    color: var(--gray-400);
    pointer-events: none;
    transition: all .1s ease-in-out;
}
.payment-form-control:focus {
    outline: 1px solid var(--indigo-500);
    border-color: var(--indigo-500);
}
.payment-form-control:focus + .payment-form-label,
.payment-form-control:not(:placeholder-shown) + .payment-form-label {
    top: 30%;
    font-size: 12px;
}
.payment-form-label-required::after {
    content: ' *';
    color: var(--red-500);
}
.payment-form-group-flex {
    display: flex;
    align-items: center;
}
.payment-form-group-flex > * {
    width: 100%;
}
.payment-form-group-flex > :not(:last-child) {
    margin-right: 12px;
}
.payment-form-submit-button {
    background-color: var(--indigo-500);
    border-radius: 8px;
    outline: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-weight: 600;
    padding: 16px;
    transition: all .15s ease-in-out;
}
.payment-form-submit-button:hover {
    background-color: var(--indigo-600);
}
.payment-form-submit-button > i {
    margin-right: 8px;
}
/* end: Payment */



/* start: Breakpoints */
@media screen and (max-width: 767px) {
    .payment-wrapper {
        grid-template-columns: 1fr;
    }
    .payment-content {
        padding: 16px;
    }
    .payment-content::before {
        top: 16px;
        width: calc(100% - 20px);
    }
    .payment-form-group-flex {
        display: block;
    }
}
.playlist-details .row .column .save-playlist .btnPayment{
   border-radius: 0.5rem;
   background: orange;
   background-color: var(--light-bg);
   padding: 1rem 1.5rem;
   cursor: pointer;
}
.content-courses .box{
   background-color: var(--white);
    border-radius: 0.5rem;
    padding: 2rem;
    position: relative;
}
.content-courses .box .title-content{
   display: flex;
   font-size: 1.4rem;
   margin-top: 4px;
}
.content-courses .box .title-content ul{
   display: flex;
   margin: 0;
   padding-left: 0;
}
.content-courses .box .title-content li{
   display: inline-block;
}
.content-courses .box .title-content strong{
   font-weight: 600;
}
.content-courses .box .title-content .content_lesson{
   font-size: 1.4rem;
    margin-top: 1px;
    opacity: .8;
    padding: 0 8px;
}
.content-courses .box .content_body{
   margin: 12px 0 48px;
}
.content_body .CurriculumOfCourse_panel__QT1YG{
   border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 8px;
}
.CurriculumOfCourse_panelTitle__GPGOF{
   margin: 0;
   padding: 0;
}
.CurriculumOfCourse_panelHeading__eln5T{
   background: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    padding: 0;
    top: 147px;
    z-index: 1;
}
.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.CurriculumOfCourse_headline__KIUuw {
   color: var(--text-color);
   font-size: 1.6rem;
   font-weight: 400;
   overflow: hidden;
   padding: 14px 30px 14px 48px;
   position: relative;
}
.CurriculumOfCourse_headline__KIUuw {
   color: var(--text-color);
   font-size: 1.6rem;
   font-weight: 400;
   overflow: hidden;
   padding: 14px 30px 14px 48px;
   position: relative;
}
.CurriculumOfCourse_headline__KIUuw:before {
   color: red;
   content: "+";
   font-size: 26px;
   font-weight: 300;
   left: 20px;
   position: absolute;
   top: 48%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   cursor: pointer;
}
.CurriculumOfCourse_floatLeft__zxBeB {
   float: left;
}
.CurriculumOfCourse_floatLeft__zxBeB strong{
   font-weight: 1000;
}
.CurriculumOfCourse_floatRight__Mg1ee {
   float: right;
}
.CurriculumOfCourse_timeOfSection__JrLAX {
   font-size: 1.4rem;
   min-width: 72px;
   text-align: right;
}
.CurriculumOfCourse_lessonItem__0Vr9k {
   border-bottom: 1px solid rgba(0,0,0,.03);
   color: var(--text-color);
   font-size: 1.4rem;
   line-height: 48px;
   overflow: hidden;
   padding: 0 30px 0 48px;
   position: relative;
}
.CurriculumOfCourse_collapse__kkyWy {
   display: none;
}
.CurriculumOfCourse_floatLeft__zxBeB {
   float: left;
}
.CurriculumOfCourse_lessonItem__0Vr9k .CurriculumOfCourse_icon__1fxR9.CurriculumOfCourse_video__GQtG1 {
   color: rgba(240,81,35,.4);
   margin-right: 4px;
}
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
   overflow: visible;
   box-sizing: content-box;
}
.CurriculumOfCourse_lessonItem__0Vr9k .CurriculumOfCourse_icon__1fxR9 {
   left: 32px;
   position: absolute;
   top: 17px;
}
.svg-inline--fa {
   display: var(--fa-display, inline-block);
   height: 1em;
   overflow: visible;
   vertical-align: -0.125em;
}
.CurriculumOfCourse_lessonName__llwRr {
   padding-left: 6px;
}
.CurriculumOfCourse_lessonItem__0Vr9k span:nth-child(2) {
   flex-shrink: 0;
   margin-left: 58px;
   min-width: 69px;
   text-align: right;
}
.CurriculumOfCourse_floatRight__Mg1ee {
   float: right;
}
.CurriculumOfCourse_collapse__kkyWy.CurriculumOfCourse_in__KhIXF {
   display: block;
}
.CurriculumOfCourse_panelHeading__eln5T.CurriculumOfCourse_activePanel__ZtW54 .CurriculumOfCourse_headline__KIUuw:before {
   content: "-";
   font-size: 40px;
   top: 45%;
}